# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.uv-cache/

# Node
node_modules/
dist/

# Env
.env

# OS
.DS_Store
/.idea/dataSources/4dc1b4cf-0d43-4610-9059-570c7a10bd6e.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/db89a01e-adc2-4005-bacd-57d786093137.xml
/.idea/dataSources/4dc1b4cf-0d43-4610-9059-570c7a10bd6e/storage_v2/_src_/database/remnastore.NMmS6Q/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/db89a01e-adc2-4005-bacd-57d786093137/storage_v2/_src_/database/remnastore.NMmS6Q/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/dataSources/4dc1b4cf-0d43-4610-9059-570c7a10bd6e/storage_v2/_src_/database/remnastore.NMmS6Q/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/db89a01e-adc2-4005-bacd-57d786093137/storage_v2/_src_/database/remnastore.NMmS6Q/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/4dc1b4cf-0d43-4610-9059-570c7a10bd6e/storage_v2/_src_/database/remnastore.NMmS6Q/schema/public.abK9xQ.meta
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dataSources/db89a01e-adc2-4005-bacd-57d786093137/storage_v2/_src_/database/remnastore.NMmS6Q/schema/public.abK9xQ.meta
/.idea/remnastore.iml
/.idea/dataSources/4dc1b4cf-0d43-4610-9059-570c7a10bd6e/storage_v2/_src_/database/remnastore.NMmS6Q.meta
/.idea/dataSources/db89a01e-adc2-4005-bacd-57d786093137/storage_v2/_src_/database/remnastore.NMmS6Q.meta
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/webResources.xml
